/* Use the entire viewport. */
body {
  margin: 0;
}


/* Simulation environment. */
#simulation > canvas {
  width: 100%;
  height: 24rem;
}


/* Plot showing round-trip time vs time offset. */
#plot {
  padding: 0 0 6rem 0;
}
#plot canvas {
  margin: 0 20rem;
}


/** Controls. */
#buttons {
  padding: 0 0 3rem 0;
}
#buttons select {
  margin-top: 0;
}
