/* Use the entire viewport. */
body {
  margin: 0;
}

/* Simulation environment. */
#simulation {
  width: 100%;
  height: 20vw;
  background: url('https://i.imgur.com/gvoJosL.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

/* Network nodes. */
.hidden {
  display: none;
}

.server, .client, .router {
  position: absolute;
  width: 60px;
  height: 60px;
  background-size: cover;
  background-image: url('../images/client-128.png');
}
.server {
  width: 80px;
  height: 80px;
  background-image: url('../images/server-128.png');
}
.router {
  width: 30px;
  height: 30px;
  background-image: url('../images/router-128.png');
}
